<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PSS.Delta.Properties.Settings.EngineeringConnectionString"
      connectionString="Data Source=PS002;Initial Catalog=Engineering;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="PSS.Delta.Properties.Settings.vjs2013ConnectionString"
      connectionString="Data Source=PS001;Initial Catalog=vjs2013;User ID=sa;Password=swordfish"
      providerName="System.Data.SqlClient" />
    <add name="PSS.Delta.Properties.Settings.EngineeringConnectionString1"
      connectionString="Data Source=PS002;Initial Catalog=Engineering;User ID=sa;Password=Sw0rdfish01"
      providerName="System.Data.SqlClient" />
    <add name="PSS.Delta.Properties.Settings.vjs2013ConnectionString1"
      connectionString="Data Source=PS001;Initial Catalog=vjs2013;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>